<!--Start about us area-->
<section class="service-tab-section section">
  <div class="outer-box clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Nav tabs -->
          <div class="tabs mb-5">
            <ul class="nav nav-tabs justify-content-center" id="aboutTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ExamAp-tab" data-toggle="tab" href="#ExamAp" role="tab"
                  aria-controls="ExamAp" aria-selected="true">ExamAp</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="TrisandyaMart-tab" data-toggle="tab" href="#TrisandyaMart" role="tab"
                  aria-controls="TrisandyaMart" aria-selected="false">Trisandya Mart</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Quickhelp-tab" data-toggle="tab" href="#Quickhelp" role="tab"
                  aria-controls="Quickhelp" aria-selected="false">Quick Help</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Realbook-tab" data-toggle="tab" href="#Realbook" role="tab"
                  aria-controls="Realbook" aria-selected="false">Real Book</a>
              </li>
            </ul>
          </div>
          <!--Start single tab content-->
          <div class="tab-content" id="aboutTab">
            <div class="service-box tab-pane fade show active" id="ExamAp">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="images/services/ExamAp.png" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>ExamAp</h3>
                    </div>
                    <div class="text">
                      <p>Educators or administrators can create and manage exams within the application. They can
                        specify parameters such as the duration, format (multiple-choice, essay, etc.), and scoring
                        criteria for each exam.</p>
                      <p>Many online exam apps include a question bank feature, allowing users to create and store a
                        database of questions. Questions can be randomized to generate unique exam papers for each test
                        taker, reducing the risk of cheating.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>User Registration and Authentication:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Question Bank and Randomization:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Grading and Feedback:
                      </li>
                    </ul>
                    <!-- <a href="services.html" class="btn btn-style-one">Read more</a> -->
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->
            <div class="service-box tab-pane fade" id="TrisandyaMart">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="images/services/Trisandyamart.png" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>Trisandya Mart</h3>
                    </div>
                    <div class="text">
                      <p>Online shopping is facilitated through websites or platforms operated by retailers,
                        marketplaces, or e-commerce businesses. These platforms provide a digital storefront where
                        customers can browse products, compare prices, and make purchases.</p>
                      <p>Online stores are typically available 24 hours a day, seven days a week, allowing customers to
                        shop at any time that suits them. This flexibility is especially valuable for individuals with
                        busy schedules or those in different time zones.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>Website or Platform:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Product Selection, Convenience:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>24/7 Availability, Payment Options, Shipping and Delivery:
                      </li>
                    </ul>
                    <!-- <a href="services.html" class="btn btn-style-one">Read more</a> -->
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->
            <div class="service-box tab-pane fade" id="Quickhelp">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="images/services/Quickhelp.png" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>Quick Help</h3>
                    </div>
                    <div class="text">
                      <p>In work or academic environments, colleagues or peers may offer quick help and guidance to
                        overcome challenges, solve problems, or provide clarification on tasks or assignments.
                        Collaboration and teamwork facilitate rapid problem-solving and knowledge sharing.</p>
                      <p>In emergency situations, quick help can be critical to ensuring safety and security. Emergency
                        services such as police, fire departments, medical services, and roadside assistance are
                        available to provide immediate assistance in emergencies.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>Emergency Services:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Timely Assistance and Responsiveness:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Digital Assistants and Chatbots:
                      </li>
                    </ul>
                    <!-- <a href="services.html" class="btn btn-style-one">Read more</a> -->
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->
            <div class="service-box tab-pane fade" id="Realbook">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="images/services/Realbook.png" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>Real Book</h3>
                    </div>
                    <div class="text">
                      <p>Prospective buyers or tenants begin the process by searching for properties that meet their
                        requirements and preferences. This may involve browsing listings on real estate websites,
                        working with real estate agents, or visiting property exhibitions.</p>
                      <p>After booking, buyers or tenants are required to complete documentation and legal formalities
                        to finalize the transaction. This may include signing a purchase agreement, lease agreement, or
                        rental agreement, as well as providing necessary identification and financial documents.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>Property Search:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Documentation and Legal Formalities:
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Completion of Transaction:
                      </li>
                    </ul>
                    <!-- <a href="services.html" class="btn btn-style-one">Read more</a> -->
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->

            

            <!--End single tab content-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End about us area-->