<!--about section-->
<section class="feature-section section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="image-content">
					<div class="section-title text-center">
						<h3>Features<span>of Our Company</span></h3>
						<p class="mb-0"> Software company is an organization that specializes in creating, developing,
							selling, and maintaining software products and services. <br> This can include a wide range
							of products, from mobile apps and web applications to enterprise-level software solutions.
						</p>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<!-- <a href="services.html"><img loading="lazy" src="images/resource/1.jpg" alt="features image"></a> -->
									</figure>
								</div>
								<h3 class="mb-2">Secure Solutions</h3>
								<p>Encryption is the process of converting data into a format that can only be read or
									understood by authorized parties. Secure solutions often employ encryption
									techniques to protect sensitive information both in transit and at rest.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<!-- <a href="services.html"><img loading="lazy" src="images/resource/2.png" alt="features image"></a> -->
									</figure>
								</div>
								<h3 class="mb-2">Product Engineering</h3>
								<p>The product engineering process typically begins with identifying market needs,
									consumer insights, and opportunities for innovation. This phase involves
									brainstorming ideas, conducting market research, and defining the product concept
									and requirements.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<!-- <a href="services.html"><img loading="lazy" src="images/resource/3.png" alt="features image"></a> -->
									</figure>
								</div>
								<h3 class="mb-2">Smart Team</h3>
								<p>Smart teams have well-defined goals and objectives that align with the organization's
									mission and vision. Clear objectives help focus the team's efforts and facilitate
									effective decision-making.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<!-- <a href="services.html"><img loading="lazy" src="images/resource/4.png" alt="features image"></a> -->
									</figure>
								</div>
								<h3 class="mb-2">Web Development</h3>
								<p>Front-end development involves building the user interface (UI) and user experience
									(UX) of a website or web application. It includes writing HTML, CSS, and JavaScript
									code to create visually appealing and interactive web pages that users can interact
									with.  Back-end development involves building the server-side
									logic and database interactions of a website or web application. Programmers use
									server-side languages like PHP, Python, Ruby, or Node.js, along with databases like
									MySQL, PostgreSQL, or MongoDB, to handle data processing and storage.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End about section-->