<div class="accordion-section">
  <div class="section-title">
    <h3>FAQ</h3>
  </div>
  <div class="accordion-holder">
    <div class="accordion" id="accordionGroup" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h4 class="card-title">
            <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              What does your software company do?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
          data-parent="#accordionGroup">
          <div class="card-body">
            Our software company specializes in products/services offered. We developed
            ExamAp, Trisandya Mart, Quik-Help, Real Book to specific industry or specific customer needs.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h4 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              What are the system requirements for using your software?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
          data-parent="#accordionGroup">
          <div class="card-body">
            The system requirements for using our software vary depending on the product. Generally, our software is
            compatible. Please refer to the product documentation for specific requirements.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h4 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              What is your software company's pricing model?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
          data-parent="#accordionGroup">
          <div class="card-body">
            Our software company offers flexible pricing models tailored to the needs of our customers. For
            detail pricing information, please contact our team.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h4 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false"
              aria-controls="collapseFour">
              Do you provide training or resources for using your software?
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
          data-parent="#accordionGroup">
          <div class="card-body">
            Yes, we provide training programs, documentation, tutorials, and other resources to help users get started
            with and make the most of our software. We also offer personalized training sessions and support to ensure a
            smooth transition and ongoing success.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headinFive">
          <h4 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false"
              aria-controls="collapseFive">
              How can I become a partner or reseller of your software products?
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
          data-parent="#accordionGroup">
          <div class="card-body">
            We welcome partnerships and collaborations with organizations interested in reselling or integrating our
            software products. To explore partnership opportunities, please reach out to our partnership team for
            further discussion and collaboration.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h4 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false"
              aria-controls="collapseSix">
              How can I request support for your software products?
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix"
          data-parent="#accordionGroup">
          <div class="card-body">
            You can request support for our software products by provide instructions for contacting support, such as
            email, phone, or online support portal. Our dedicated support team is available to assist you with any
            issues or enquiries.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>