<section class="cta">
  <div class="container">
    <div class="cta-block row no-gutters">
      <div class="col-lg-4 col-md-6 emmergency item">
        <i class="fa fa-phone"></i>
        <h2>Contact</h2>
        <a href="tel:9533162006">+91 9533162006</a>
        <p>We are ready to help anytime</p>
      </div>
      <div class="col-lg-4 col-md-6 top-doctor item">
        <i class="fa fa-service"></i>
        <h2>Service</h2>
        <p>Based on clients</p>
        <a href="service.html" class="btn btn-main">Read more</a>
      </div>
      <div class="col-lg-4 col-md-12 working-time item">
        <i class="fa fa-hourglass-o"></i>
        <h2>Working Hours</h2>
        <ul class="w-hours">
          <li>Mon - Sat - <span>10:00am - 5:00pm</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>