<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-4 mb-5 lg-0">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img loading="lazy" class="img-fluid" src="images/Trisandya.png" style="width: 100px; height: 100px;">
                </a>
              </figure>
            </div>
            <ul class="location-link">
              <li class="item">
                <i class="fas fa-map-marker-alt"></i>
                <p>D/N 3-13A, Jammichettu Center, Pedakallepalli,
                  Mopidevi Mandal, Krishna District, AP, India - 521130</p>
              </li>
              <li class="item">
                <i class="far fa-envelope" aria-hidden="true"></i>
                <a href="mailto:support@medic.com">
                  <p>trisandyatech@gmail.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fas fa-phone" aria-hidden="true"></i>
                <p>+91 9533162006</p>
              </li>
            </ul>
            <ul class="list-inline social-icons">
              <li class="list-inline-item"><a href="https://www.instagram.com/trisandyatech/" aria-label="instagram" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/trisandyatechnologies" aria-label="github" target="_blank"><i
                    class="fab fa-github"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/company/trisandya/about/" aria-label="bi-linkedin" target="_blank"><i
                    class="bi bi-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-5 mb-3 mb-md-0">
          <h2>Services</h2>
          <ul class="menu-link">
            <li>
              <a href="service.html">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Custom Software Development</a>
            </li>
            <li>
              <a href="service.html">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Software Consulting</a>
            </li>
            <li>
              <a href="service.html">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Application Integration</a>
            </li>
            <li>
              <a href="service.html">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Software Maintenance & Support</a>
            </li>
            <li>
              <a href="service.html">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Quality Assurance and Testing</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-7">
          <div class="social-links">
            <h2>Recent Projects</h2>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left mr-3">
                    <a href="blog-details.html">
                      <img loading="lazy" src="images/blog/ExamAp.png" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5><a href="blog-details.html">ExamAp</a></h5>
                    <p>An ExamAp is a digital platform designed for conducting, managing, and assessing examinations,
                      on online and offline sessions</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left mr-3">
                    <a href="blog-details.html">
                      <img loading="lazy" src="images/blog/logo.png" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5><a href="blog-details.html">Trisandya Mart</a></h5>
                    <p>Online shopping marts are e-commerce platforms where consumers can buy a variety of products from
                      multiple vendors, offering convenience and accessibility for digital shopping.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p>&copy; Copyright 2024. Designed &amp; Developed by <a href="https://www.trisandya.com/">Trisandya tech</a>
        </p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->

<!-- scroll-to-top -->
<div id="back-to-top" class="back-to-top">
  <i class="fa fa-angle-up"></i>
</div>