<section class="gallery bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h3>Collected Shots
            <span>of Our Company</span>
          </h3>
          <p>A software company is an organization that specializes in creating, developing, selling, and maintaining
            software products and services. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img loading="lazy" src="images/gallery/Company.png" class="img-fluid" alt="gallery-image">
          <a data-fancybox="images" href="images/gallery/Company.png"></a>
          <h3>Company</h3>
          <p style="color: black"> The corporate entrance refers to the formal process by which individuals enter into
            a business entity,
            such as becoming a shareholder, partner, employee, or customer. This entrance involves various legal,
            contractual, and procedural steps, depending on the nature of the relationship between the individual and
            the company.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img loading="lazy" src="images/gallery/Office.png" class="img-fluid" alt="gallery-image">
          <a data-fancybox="images" href="images/gallery/Office.png"></a>
          <h3>Office</h3>
          <p style="color: red;">An office room is a designated space within a building or office where individuals
            work, collaborate, or
            conduct business activities.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img loading="lazy" src="images/gallery/Chairman.png" class="img-fluid" alt="gallery-image">
          <a data-fancybox="images" href="images/gallery/Chairman.png"></a>
          <h3>Chairman</h3>
          <p style="color: red;">Chairpersons overseeing sales or client relationships, CRM software like Salesforce,
            HubSpot, or Zoho CRM
            can be valuable for managing customer interactions and tracking sales pipelines.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img loading="lazy" src="images/gallery/Ceo.png" class="img-fluid" alt="gallery-image">
          <a data-fancybox="images" href="images/gallery/Ceo.png"></a>
          <h3>CEO</h3>
          <p style="color: red;">The CEO's role is crucial in shaping the direction and success of a company. They must
            possess strong
            leadership skills, strategic vision, business acumen, and the ability to navigate complex challenges and
            opportunities.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img loading="lazy" src="images/gallery/Staff.png" class="img-fluid" alt="gallery-image">
          <a data-fancybox="images" href="images/gallery/Staff.png"></a>
          <h3>Staff</h3>
          <p style="color: red;">These professionals are responsible for writing code, designing software solutions, and
            implementing
            features based on requirements. They may specialize in specific programming languages or technologies.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img loading="lazy" src="images/gallery/Confrence.png" class="img-fluid" alt="gallery-image">
          <a data-fancybox="images" href="images/gallery/Confrence.png"></a>
          <h3>Confrence</h3>
          <p style="color: red;">
            A software company conference, often referred to as a tech conference or developer conference, is an event
            where professionals from the software industry gather to share knowledge.</p>
        </div>
      </div>
    </div>
  </div>
</section>