<!--=================================
=            Page Slider            =
==================================-->
<div class="hero-slider">
  <!-- Slider Item -->
  <div class="slider-item slide1" style="background-image:url(images/slider/Triangle.png)"
    style="width: 50px; height: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Slide Content Start -->
          <div class="content style text-center">
            <h2 class="text-white text-bold mb-2" data-animation-in="slideInLeft">Trisandya Technology Solutions</h2>
            <p class="tag-text mb-4" data-animation-in="slideInRight">This Company is primarily involved in designing,
              creating, and maintaining software applications. This can range from developing mobile apps and desktop
              software to complex enterprise-level systems. <br> Frameworks, and tools, based on the requirements of
              their projects. Common stacks include React, JavaScript (Node.js), and various databases and frameworks.
            </p>
            <a href="about.html" class="btn btn-main btn-white" data-animation-in="slideInLeft"
              data-duration-in="1.2">explore</a>
          </div>
          <!-- Slide Content End -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--====  End of Page Slider  ====-->