<!--team section-->
<section class="team-section section">
  <div class="container">
    <div class="section-title text-center">
      <h3>Our Expert
        <span>Engineers</span>
      </h3>
      <p class="mb-0">Software engineers are familiar with the various stages of the software development lifecycle,
        including requirements analysis, design, implementation, testing, deployment, and maintenance. They follow
        established methodologies such as Agile, Scrum, Waterfall, or DevOps to manage the development process
        effectively.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <!-- <img loading="lazy" src="images/team/Jyothibabu.png" alt="engineer" class="img-fluid"> -->
          <div class="contents text-center">
            <h4>Jyothi Babu Araja</h4>
            <p>

              A software engineer designs, develops, and maintains software applications and systems to meet business
              needs and user requirements..</p>
            <a href="appointment.html" class="btn btn-main">Book Appointment</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <!-- <img loading="lazy" src="images/team/Durga.png" alt="engineer" class="img-fluid"> -->
          <div class="contents text-center">
            <h4>Golla Naga Durga</h4>
            <p>
              A software engineer designs, develops, and maintains software applications and systems to meet business
              needs and user requirements.</p>
            <a href="appointment.html" class="btn btn-main">Book Appointment</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <!-- <img loading="lazy" src="images/team/event-2.jpg" alt="engineer" class="img-fluid"> -->
          <div class="contents text-center">
            <h4>Kurete Tulasi</h4>
            <p>
              A software engineer designs, develops, and maintains software applications and systems to meet business
              needs and user requirements.</p>
            <a href="appointment.html" class="btn btn-main">Book Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End team section-->