<!--testimonial-section-->
<section class="testimonial-section" style="background: url(images/testimonials/1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h3>What Our
            <span>Clients Says</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="testimonial-carousel">
          <!--Slide Item-->
          <div class="slide-item">
            <div class="inner-box text-center">
              <div class="image-box">
                <figure>
                  <img loading="lazy" src="images/testimonials/Namahsivaya.png" alt="">
                </figure>
              </div>
              <h6>Kurete Namah sivaya</h6>
              <p class="mb-0">This includes factors such as usability, features, performance, reliability, and customer
                support.</p>
            </div>
          </div>
          <!--Slide Item-->
          <div class="slide-item">
            <div class="inner-box text-center">
              <div class="image-box">
                <figure>
                  <img loading="lazy" src="images/testimonials/Ganesh.png" alt="">
                </figure>
              </div>
              <h6>Sai Ganesh Araja</h6>
              <p class="mb-0">Users may comment on pricing plans, licensing options, and the return on investment (ROI)
                they have experienced with the company's offerings.</p>
            </div>
          </div>
          <!--Slide Item-->
          <div class="slide-item">
            <div class="inner-box text-center">
              <div class="image-box">
                <figure>
                  <img loading="lazy" src="images/testimonials/Sai.png" alt="">
                </figure>
              </div>
              <h6>Dadi Shanmukha Sai</h6>
              <p class="mb-0">This includes factors such as usability, features, performance, reliability, and customer
                support.</p>
            </div>
          </div>
          <!--Slide Item-->
          <div class="slide-item">
            <div class="inner-box text-center">
              <div class="image-box">
                <figure>
                  <img loading="lazy" src="images/testimonials/Jhansi.png" alt="">
                </figure>
              </div>
              <h6>Pasam Jhansi</h6>
              <p class="mb-0">Users may comment on pricing plans, licensing options, and the return on investment (ROI)
                they have experienced with the company's offerings.</p>
            </div>
          </div>
          <!--Slide Item-->
         
          <!--Slide Item-->
          <div class="slide-item">
            <div class="inner-box text-center">
              <div class="image-box">
                <figure>
                  <img loading="lazy" src="images/testimonials/3.png" alt="">
                </figure>
              </div>
              <h6>Koushik</h6>
              <p class="mb-0">The quality and effectiveness of the software products and services offered by the
                company. This includes factors such as usability, features, performance, reliability, and customer
                support.</p>
            </div>
          </div>
          <!--Slide Item-->
          <div class="slide-item">
            <div class="inner-box text-center">
              <div class="image-box">
                <figure>
                  <img loading="lazy" src="images/testimonials/1.png" alt="">
                </figure>
              </div>
              <h6>Dadi Venkata Teja</h6>
              <p class="mb-0">software tools, while negative reviews may cite integration challenges or compatibility
                issues.</p>
            </div>
          </div>
          <!--Slide Item-->
          <div class="slide-item">
            <div class="inner-box text-center">
              <div class="image-box">
                <figure>
                  <img loading="lazy" src="images/testimonials/2.png" alt="">
                </figure>
              </div>
              <h6>Gnana Samvida</h6>
              <p class="mb-0">Users may comment on pricing plans, licensing options, and the return on investment (ROI)
                they have experienced with the company's offerings.</p>
            </div>
          </div>
          <!--Slide Item-->

        </div>
      </div>
    </div>
  </div>
</section>
<!--End testimonial-section-->